/* RESET RULES */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style-type: none;
}
a{
    color: currentColor;
    text-decoration: none;
}


/* LAYOUT */
img{
    width: 100%;
    max-width:250px;
    max-height: 350px;
}
.container{
    min-height: 900px;
}
.row{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.col{
    min-width: 250px;
    min-height: 400px;
}
/* DEBUG */
.debug{
    border: 1px dashed black;
}